<nav id="menu" class="navbar fixed-top navbar-dark navbar-expand-lg navbar-template">
    <a class="navbar-brand" href="#">GeeksHub Travels</a>
    <div class="d-flex flex-row order-2 order-lg-3">
        <ul id="rsociales" class="collapse navbar-collapse navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fa fa-facebook"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fa fa-twitter"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fa fa-youtube"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fa fa-linkedin"></span></a></li>
        </ul>
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
   {{#if user}}
     <h3>Hola, {{user}}!</h3>
     <script>
      localStorage.setItem("currentUser", {{user}});
     </script>
   {{/if}}
    <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="http://localhost:3000/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost:3000/signup">Registrarse</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Destinos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Quienes somos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Dónde estamos</a></li>
        </ul>
    </div>
    <script>
    // var url = new URL(window.location.href);
    // var user = url.searchParams.get("fetchedUsername");
    // document.getElementById("greeting").innerHTML = "Hola " + user +"! :)";
  // </script>
</nav>
