<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="ltr">-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>Admin Panel</title>-->
  <!--</head>-->
  <!--<body>-->
    <!--<ul>-->
      <!--{{#if travels.length}}-->
        <!--{{#each travels}}-->
          <!--<h2>{{travel}}</h2>-->
          <!--<a class="info" href="">{{ price }}$</a>-->
        <!--{{/each}}-->
      <!--{{/if}}-->
    <!--</ul>-->
  <!--</body>-->
<!--</html>-->
