<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:8080/css/estilos.css">
    <link rel="stylesheet" href="http://localhost:8080/css/otros.css">
    <link rel="stylesheet" href="http://localhost:8080/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/bower_components/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://localhost:8080/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://localhost:8080/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://localhost:8080/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <title>Login en Geekshub travels</title>
</head>
<body>
  {{> header }}
<div id="pagina">
<section class="acceso">
    <div class="container">
        <div class="registro">
        <div class="signup-form-container">
            <form role="form" id="register-form" autocomplete="off" action="login" method="post">
                <div class="form-header">
                    <h5 class="form-title"><i class="fa fa-user"></i>Identificarse</h5>
                    <div class="pull-right">
                        <h3 class="form-title"><span class="glyphicon glyphicon-pencil"></span></h3>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input name="username" type="text" class="form-control" placeholder="Usuario">
                        </div>
                        <span class="help-block" id="error"></span>
                    </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input name="password" id="password" type="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <span class="help-block" id="error1"></span>
                        </div>
                </div>
                <div class="form-footer" >
                    <button type="submit" class="btn btn-info" href="http://localhost:3000/login/">
                        <span class="glyphicon glyphicon-log-in"></span>Validar
                    </button>
                    <hr>
                    <!-- Botón No recuerdo mi contraseña -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalRememberPassword">
                        No recuerdo mi contraseña
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modalRememberPassword" tabindex="-1" role="dialog" aria-labelledby="modalRememberPasswordTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalRememberPasswordLongTitle">Recuperación de contraseña</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="email" style="width:29em;height:2em" placeholder="Introduce tu email"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info">Enviar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>
        </div>
        </div>
</section>
</div>
  {{> footer }}
<script>
    $(window).scroll(function(){
        if($("#menu").offset().top >56) {
            $("#menu").addClass("bg-dark");
        }else{
            $("#menu").removeClass("bg-dark");
        }
    });
</script>

</body>
</html>
