<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/estilos.css">
    <link rel="stylesheet" href="/public/stylesheets/otros.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <title>Recuperar contraseña en Geekshub travels</title>
</head>
<body>
  {{> header }}
<div id="pagina">
<section class="acceso" id="accesoRecuperarPassword">
    <div class="container">
        <div class="registro">
            <div class="signup-form-container">
              <h2>Buenas {{result.username}}</h2>
                <form role="form" id="register-form" autocomplete="off" action="/recuperarPassword" method="post">
                    <div class="form-header">
                        <h5 class="form-title"><i class="fa fa-user"></i>Por favor, introduce la nueva contraseña</h5>
                        <div class="pull-right">
                        </div>
                    </div>
                      <input type="hidden" name="id" value="{{result.id}}">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                                <input name="password" type="password" class="form-control" placeholder="Nueva Contraseña">
                            </div>
                            <span class="help-block" id="error0"></span>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-info">
                            Validar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
  {{> footer }}

</body>
</html>
