<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/estilos.css">
    <link rel="stylesheet" href="/public/stylesheets/otros.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/popper.js/dist/umd/popper.min.js"></script>
    <title>Registrarse en Geekshub travels</title>
</head>
<body>
  {{> header }}
<div id="pagina">
<section class="acceso">
    <div class="container">
        <div class="registro">
            <div class="signup-form-container">
                <form role="form" id="register-form" autocomplete="off" action="signup" method="post" onSubmit="return formValidation()">
                    <div class="form-header">
                        <h5 class="form-title"><i class="fa fa-user"></i>Registrarse</h5>
                        <div class="pull-right">
                            <h3 class="form-title"><span class="glyphicon glyphicon-pencil"></span></h3>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                <input name="username" type="text" class="form-control" placeholder="Usuario">
                            </div>
                            <span class="help-block" id="error"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                                <input name="email" type="text" class="form-control" placeholder="Email">
                            </div>
                            <span class="help-block" id="error0"></span>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    <input name="password" id="password" type="password" class="form-control" placeholder="Contraseña">
                                </div>
                                <span class="help-block" id="error1"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    <input name="hash" id="hash" type="password" class="form-control" placeholder="Repetir Contraseña">
                                </div>
                                <span class="help-block" id="error2"></span>
                            </div>
                        </div>
                        <div class="input-group">
                            <table>
                                <tr>
                                    <td><input name="condiciones" type="checkbox" class="ajuste"></td>
                                    <td>Acepto términos y condiciones de uso.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-footer">
                        <!-- Botón Validar Registro -->
                        <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#modalValidate" onClick="userSignUp()">
                            Validar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalValidate" tabindex="-1" role="dialog" aria-labelledby="modalValidateTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalValidateLongTitle">Contraseña incorrecta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Ambas contraseñas deben ser iguales para completar el proceso de registro correctamente
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
  {{> footer }}
<script type="text/javascript">
    $(window).scroll(function(){
        if($("#menu").offset().top >56) {
            $("#menu").addClass("bg-dark");
        }else{
            $("#menu").removeClass("bg-dark");
        }
    });

    $('#modalValidate').on('show', function(){
      return formValidation();
    });

    function checkPasswordValidity(){
      var password = document.getElementById('password').value
      var hash = document.getElementById('hash').value
      if  (password == hash){
        return true
      } else{
         return false
      }
    }

    function formValidation(){
      if(checkPasswordValidity()) {
        passwordEncryption()
        return true
      } else {
        return false
      }
    }

    function passwordEncryption(){
      var password = document.getElementById('password').value
      var encryptedPassword = password.split('').reverse().join('')
      document.getElementById('hash').value = encryptedPassword
    }
</script>

</body>
</html>
