<h1>Gracias por registrarte en GeeksHubs Travels!</h1>
<h3>Por favor, haz click <a href="http://localhost:8080/active/{{encodedhash}}">aquí</a> para activar tu cuenta y poder disfrutar todos los beneficios</h3>
